@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
  --clr-main-bg: #F8FAFC;
  --clr-primary: #014ED5;
  --clr-secondary: #E8F1FF;
  --clr-dark: #102851;
  --clr-light: #747474;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Abel", sans-serif;
  background-color: var(--clr-main-bg);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  color: var(--clr-dark);
  font-weight: bold;
}
.btn:hover, .btn:focus {
  color: var(--clr-primary);
}
.btn--primary {
  color: #fff;
  background-color: var(--clr-primary);
  border-radius: 0.7rem;
  transition: all 0.2s ease-in-out;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px var(--clr-primary);
}

.header {
  background-color: var(--clr-secondary);
  padding: 2rem 0 15rem;
}
.header__logo {
  height: 4rem;
}
.header__ctas {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.responsive-menu__toggle, .responsive-menu__btn {
  display: none;
}

.nav__list {
  display: flex;
  gap: 2rem;
}
.nav__link {
  color: var(--clr-dark);
  font-size: 1.6rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}
.nav__link:hover, .nav__link:focus {
  color: var(--clr-primary);
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.hero__img {
  width: 60%;
  align-self: flex-end;
}
@media (max-width: 1000px) {
  .hero__img {
    display: none;
  }
}
.hero__content {
  max-width: 40%;
  min-width: 37.5rem;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .hero__content {
    max-width: 90%;
    min-width: 30rem;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .hero__content {
    max-width: 100%;
  }
}
.hero__title {
  font-size: 5rem;
  color: var(--clr-dark);
  font-weight: bold;
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__des {
  color: var(--clr-light);
  font-weight: bold;
  line-height: 2;
}
.hero__properties {
  display: flex;
  gap: 3rem;
}
.hero__property {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-dark);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero__property:hover, .hero__property:focus {
  color: var(--clr-dark);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--clr-dark);
}
@media (max-width: 500px) {
  .hero__property {
    flex-direction: column;
    padding: 2rem 0.5rem;
    text-align: center;
  }
}

@media (max-width: 780px) {
  .responsive-menu {
    display: none;
  }

  .navbar {
    gap: 1rem;
  }
}
.search__wrapper {
  position: relative;
  padding-bottom: 10rem;
}
.search__box {
  width: 90%;
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  top: -16rem;
  left: 5%;
  box-shadow: 0px 15px 44px 0px #edf6ff;
}
@media (max-width: 500px) {
  .search__box {
    width: 100%;
    left: 0;
  }
}
.search__inputs-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 500px) {
  .search__inputs-wrapper {
    flex-direction: column;
  }
}
.search__btn {
  border: none;
  padding: 2rem 2rem;
}
.search__btn:focus {
  outline: none;
}
.search__inputs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  width: 100%;
}
.search__inputs label {
  position: relative;
}
.search__inputs label img {
  color: var(--clr-dark);
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}
.search__input {
  padding: 2rem 2rem 2rem 5rem;
  background-color: var(--clr-main-bg);
  border: none;
  box-shadow: inset 0 0 0 1px rgb(218, 218, 218);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.search__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--clr-primary);
}
.search__suggestions-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.search__tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.search__tag {
  white-space: nowrap;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s ease-in-out;
}
.search__tag:hover, .search__tag:focus {
  background-color: rgb(205, 231, 255);
}
.search__tag:last-child {
  color: rgb(23, 82, 192);
}

.footer {
  padding: 5rem 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}
.footer__logo {
  height: 4rem;
}
.footer__social-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-top: 1px solid rgb(167, 167, 167);
  padding-top: 2rem;
  margin-top: 1rem;
}
.footer__social-link {
  font-size: 3rem;
  padding: 0.7rem;
  color: var(--clr-dark);
  transition: all 0.2s ease-in-out;
}
.footer__social-link:hover, .footer__social-link:focus {
  color: var(--clr-primary);
}
.footer__col {
  padding-top: 3rem;
}
.footer__col--logo {
  padding: 0 7rem 0 0;
}
.footer__col-title {
  margin-bottom: 1.5rem;
}
.footer__link-item + .footer__link-item {
  margin-top: 1rem;
}
.footer__link {
  color: var(--clr-light);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.footer__link:hover, .footer__link:focus {
  color: var(--clr-primary);
  transform: scale(1.2);
  transform: translateX(2rem);
}
.footer__link:hover::before, .footer__link:focus::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: rgb(167, 27, 206);
  position: absolute;
  left: -20px;
  top: 12px;
  animation: footer 0.2s forwards;
}

@keyframes footer {
  from {
    width: 0;
  }
  to {
    width: 10px;
  }
}
.find {
  padding: 5rem 0;
}
.find__wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.find__img, .find__content {
  width: 100%;
}
.find__title {
  color: var(--clr-dark);
  font-size: 5rem;
  margin-bottom: 2rem;
}
.find__desc {
  color: var(--clr-light);
  margin-bottom: 4rem;
}
.find__item + .find__item {
  margin-top: 4rem;
}
.find__list {
  width: 75%;
  padding-left: 5rem;
}
.find__item {
  position: relative;
  cursor: pointer;
}
.find__item h3 {
  color: rgb(41, 41, 41);
  margin-bottom: 1rem;
  font-weight: bold;
}
.find__item p {
  color: var(--clr-light);
}
.find__item i {
  position: absolute;
  top: -5px;
  left: -52px;
  width: 40px;
  height: 40px;
  background-color: rgb(92, 8, 22);
  border-radius: 10rem;
  display: grid;
  place-items: center;
  transition: all 0.2s ease-out;
}
.find__item:first-child i {
  --clr-i: rgb(141, 7, 141);
  --clr-bg: rgb(255, 215, 255);
  color: var(--clr-i);
  background-color: var(--clr-bg);
}
.find__item:nth-child(2) i {
  --clr-i: rgb(7, 92, 141);
  --clr-bg: rgb(215, 234, 255);
  color: var(--clr-i);
  background-color: var(--clr-bg);
}
.find__item:last-child i {
  --clr-i: rgb(7, 141, 108);
  --clr-bg: rgb(215, 255, 218);
  color: var(--clr-i);
  background-color: var(--clr-bg);
}
.find__item:hover i, .find__item:focus i {
  box-shadow: inset 0 0 0 2px var(--clr-i);
  background-color: #fff;
}
.find__item + .find__item::before {
  content: "";
  width: 2px;
  height: 80%;
  background-color: #c3c3c3;
  position: absolute;
  top: -77px;
  left: -33px;
}

/*# sourceMappingURL=main.css.map */
