.footer {
    padding: 5rem 0;

    @media (max-width: 455px) {
    padding-inline: 2rem ;

    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: 1rem;

        @media (max-width: 455px) {
            justify-items: flex-start;
        }
    }

    &__logo {
        height: 4rem;


    }

    &__social-list {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        border-top: 1px solid rgb(167, 167, 167);
        padding-top: 2rem;
        margin-top: 1rem;

    }

    &__social-link {
        font-size: 3rem;
        padding: .7rem;
        color: var(--clr-dark);
        transition: all .2s ease-in-out;


        &:hover,
        &:focus {
            color: var(--clr-primary);
        }
    }

    &__col {
        padding-top: 3rem;
    }

    &__col--logo {
        padding: 1rem
    }

    &__col-title {
        margin-bottom: 1.5rem;
    }

    &__link-item+&__link-item {
        margin-top: 1rem;
    }

    &__link {
        color: var(--clr-light);
        font-weight: bold;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: var(--clr-primary);
            transform: scale(1.2);
            transform: translateX(2rem);

            &::before {
                content: "";
                width: 0px;
                height: 2px;
                background-color: rgb(167, 27, 206);
                position: absolute;
                left: -20px;
                top: 12px;
                animation: footer 0.2s forwards;
            }
        }
    }
}


@keyframes footer {
    from {
        width: 0;
    }

    to {
        width: 10px;
    }
}