@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 1.7rem;
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
    background-color: var(--clr-main-bg);
}


img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}